  /* Gaya teks default */
  .center-text {
    text-align: left; /* Default alignment */
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Media query untuk jendela berlebar lebih kecil dari 600px */
  @media (max-width: 600px) {
    .center-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
